services:
  db:
    image: mariadb:11
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    env_file:
      - .env
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: ${DB_PORT}
    ports:
      - "8081:80"
    depends_on:
      - db
    restart: unless-stopped

  app:
    build: .
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - db
    volumes:
      - ./logs:/var/logs/crud
      - ./app/build/libs/app.jar:/app/app.jar
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./entrypoint.sh:/entrypoint.sh
    restart: unless-stopped

  flyway:
    image: flyway/flyway:9
    env_file:
      - .env
    command: -url=${DB_JDBC_URL} -user=${DB_USER} -password=${DB_PASSWORD} migrate
    volumes:
      - ./db/migrations:/flyway/sql
    depends_on:
      - db
    restart: "no"

volumes:
  db_data:
